<div class="settings" data-alias="default">
	<fieldset>
	<legend><img src="img/details.gif" alt="">{{ params }}</legend>

	{% block header %}	
	{% endblock %}
	{% block units %}										
	{% endblock %}
	{% block footer %}
	{% endblock %}
	</fieldset>
</div>