<div class="module">
	<div class="content_subblock">
		<div id="file-indicator-wrapper">
		</div>
		<div class="content_subheader">
		</div>
		<div id="indicators-list-wrapper">
		</div>
	</div>
</div>