<div class="content_subblock">
	<div class="classifier_upblock">
					<div class="classifier_buttons_wrapper">
						<button id="add-classifier" type="button" class="btn btn-default btn-medium"><i class="glyphicon glyphicon-asterisk"></i> Новый раздел</button>
						<button id="edit-classifier" type="button" class="btn btn-warning btn-medium"><i class="glyphicon glyphicon-pencil"></i> Редактирование</button>
						<button id="remove-classifier" type="button" class="btn btn-cancel btn-medium"><i class="glyphicon glyphicon-remove"></i> Удалить</button>
					</div>
						<input id="classifier-search" class="input-width-image search-input" tabindex="1" title="Поиск" placeholder="Поиск" name="search" type="text">
	</div>

</div>
