<div class="message-window message-error">
	{% if close %}
    <span class="message-window-close">x</span>
	{% endif %}
    <div class="head">    
        <h2>{{ head_text }}</h2>
    </div>
    <div class="message-content">
        <p>{{ body }}</p>
    </div>
</div>