{% block footer %}
<div class="footer">
<ul class="unstyled inline">	
	<li>Тел./факс: +7 (495) 781-37-56 </li>
	<li class="mailto center"><i class="fa fa-envelope-open" aria-hidden="true"></i><a href="mailto:support@rosspetsmash.ru">support@rosspetsmash.ru</a></li>
	<li class="copyright">© 2018 Росспецмаш</li>
</ul>
</div>
{% endblock %}