<p>Добрый день,
<br>
<br>
по Вашему запросу на портал "Росспецмаш-Стат" добавлена новая модель <span><i>{{ model_name }}</i></span>
в раздел классификатора <span><i>{{ classifier }}</i></span>
<br>
Модель доуступна для добавления в формы ввода
</p>
<br>
<p>С уважением,</p>
<p>команда РОССПЕЦМАШ-СТАТ</p>