<p>Внимание! От компании {{ contractor_name }} поступил запрос на добавление новой модели!</p>
<p><a href="http://stat.rosspetsmash.loc/admin/requests/info/{{ request_id }}">Для подробной информации перейдите по ссылке</a></p>