<h1>Произошла какая-то ошибка</h1>
<p><b>Код ошибки:</b> {{ code }}</p>
<p><b>Текст ошибки:</b> {{ message }}</p>
<p><b>Файл, в котором произошла ошибка:</b> {{ file }}</p>
<p><b>Строка, в которой произошла ошибка:</b> {{ line }}</p>