<div class="content-header">
	<p>Информационные материалы</p>
</div>
<div class="files_list">
	<div class="files_item clearfix">
		<div>
			<div class="file_container_name">
				<p>Демо-версия Отчета с портала - Сельхозтехника</p>
			</div>
			<a href="{{ files_uri }}Demo-versiya Otcheta s portala Avgust 2018 - Sel'hoztekhnika.pdf">Открыть</a>
		</div>
		<a href="{{ files_uri }}Demo-versiya Otcheta s portala Avgust 2018 - Sel'hoztekhnika.pdf">
		<div class="pdf_logo"></div></a>                           
	</div>
	<div class="files_item clearfix">
		<div>
			<div class="file_container_name">
				<p>Правила внесения данных на РОССПЕЦМАШ-СТАТ</p>
			</div>
			<a href="{{ files_uri }}Pravila vneseniya dannyh na ROSSPECMASH-STAT.pdf">Открыть</a>
		</div>
		<a href="{{ files_uri }}Pravila vneseniya dannyh na ROSSPECMASH-STAT.pdf">
		<div class="pdf_logo"></div></a>                           
	</div>
</div>