<div class="content-header">
	<p>Информационные материалы</p>
</div>
<div class="files_list">
	<div class="files_item clearfix">
		<div>
			<div class="file_container_name">
				<p>Демо-версия Отчета с портала - Сельхозтехника</p>
			</div>
			<a href="{{ files_uri }}Демо-версия Отчета с портала Август 2018 - Сельхозтехника.pdf">Открыть</a>
		</div>
		<a href="{{ files_uri }}Демо-версия Отчета с портала Август 2018 - Сельхозтехника.pdf">
		<div class="pdf_logo"></div></a>                           
	</div>
	<div class="files_item clearfix">
		<div>
			<div class="file_container_name">
				<p>Правила внесения данных на РОССПЕЦМАШ-СТАТ</p>
			</div>
			<a href="{{ files_uri }}Правила внесения данных на РОССПЕЦМАШ-СТАТ.pdf">Открыть</a>
		</div>
		<a href="{{ files_uri }}Правила внесения данных на РОССПЕЦМАШ-СТАТ.pdf">
		<div class="pdf_logo"></div></a>                           
	</div>
</div>